CREATE TABLE clinica.t_agenda_sala (
    id_agenda bigint NOT NULL,
    id_sala bigint NOT NULL,
    fecha date NOT NULL,
    hora_inicio time without time zone NOT NULL,
    hora_fin time without time zone NOT NULL,
    estado character varying(30) NOT NULL,
    id_cita bigint
);
---
CREATE TABLE clinica.t_bitacora (
    id_bitacora bigint NOT NULL,
    id_usuario bigint,
    id_sesion bigint,
    modulo character varying(50) NOT NULL,
    accion character varying(100) NOT NULL,
    descripcion text,
    metadata jsonb,
    fecha_registro timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    nota character varying(100)
);
---
CREATE TABLE clinica.t_cargo (
    id_cargo bigint NOT NULL,
    tipo_cargo character varying(50) NOT NULL
);
---
CREATE TABLE clinica.t_cita_estado (
    id_estado integer NOT NULL,
    nombre_estado character varying(50) NOT NULL,
    descripcion text
);
---
CREATE TABLE clinica.t_cita_servicio (
    id_cita_servicio bigint NOT NULL,
    id_cita bigint NOT NULL,
    id_servicio bigint NOT NULL,
    precio numeric(10,2) NOT NULL,
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);
---
CREATE TABLE clinica.t_citas (
    id_cita bigint NOT NULL,
    id_personal bigint NOT NULL,
    id_paciente bigint NOT NULL,
    fecha_registro timestamp without time zone NOT NULL,
    fecha_agendamiento timestamp without time zone NOT NULL,
    fecha_finalizacion timestamp without time zone,
    id_sala bigint NOT NULL,
    cita_obs text,
    id_estado_cita integer NOT NULL,
    id_procedimiento bigint
);
---
CREATE TABLE clinica.t_contrato (
    id_contrato bigint NOT NULL,
    tipo_contrato character varying(50) NOT NULL,
    fecha_contrato date NOT NULL,
    fecha_fin_contrato date,
    estado_contrato character varying(40)
);
---
CREATE TABLE clinica.t_detalle_cita (
    id_cita bigint NOT NULL,
    id_movimiento bigint NOT NULL,
    tipo_cita character varying(60),
    observacion text,
    codigo_diente bigint
);
---
CREATE TABLE clinica.t_diente (
    codigo bigint,
    nombre character varying(100) NOT NULL
);
---
CREATE TABLE clinica.t_facturas (
    id_factura bigint NOT NULL,
    id_cita bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    metodo_pago character varying(60) NOT NULL,
    fecha_factura timestamp without time zone NOT NULL,
    monto_cancelado bigint
);
---
CREATE TABLE clinica.t_historial_clinico (
    id_paciente bigint NOT NULL,
    alergia boolean,
    afectacion_medica boolean,
    descripcion text
);
---
CREATE TABLE clinica.t_historial_dental (
    id_odontograma bigint NOT NULL,
    id_paciente bigint NOT NULL,
    id_cita bigint,
    fecha timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    tipo_evento character varying(50),
    descripcion text,
    codigo_diente bigint
);
---
CREATE TABLE clinica.t_materiales (
    id_material bigint NOT NULL,
    nombre_material character varying(120) NOT NULL,
    precio numeric(10,2) NOT NULL,
    expirable boolean DEFAULT false NOT NULL,
    precio_venta numeric(10,2)
);
---
CREATE TABLE clinica.t_materiales_almacen (
    id_lote bigint NOT NULL,
    id_material bigint NOT NULL,
    cantidad_inicial bigint NOT NULL,
    cantidad_disponible bigint NOT NULL,
    fecha_caducidad date,
    fecha_fabricacion date,
    fecha_ingreso timestamp without time zone NOT NULL,
    id_proveedor bigint
);
---
CREATE TABLE clinica.t_modulo (
    id_modulo bigint NOT NULL,
    nombre_modulo character varying(30)
);
---
CREATE TABLE clinica.t_movimiento_inventario (
    id_movimiento bigint NOT NULL,
    id_lote bigint NOT NULL,
    id_material bigint NOT NULL,
    monto bigint NOT NULL,
    fecha_movimiento timestamp without time zone NOT NULL
);
---
CREATE TABLE clinica.t_paciente (
    id_paciente bigint NOT NULL,
    persona_acargo bigint,
    tipo_paciente character varying(50),
    estado character varying(30) DEFAULT 'ACTIVO'::character varying
);
---
CREATE TABLE clinica.t_permisos (
    id_permiso bigint NOT NULL,
    id_modulo bigint NOT NULL,
    nombre character varying(50)
);
---
CREATE TABLE clinica.t_persona (
    id_persona bigint NOT NULL,
    nombre text NOT NULL,
    telefono bigint,
    fecha_nacimiento date NOT NULL,
    direccion text,
    tipo_persona character varying(20) NOT NULL,
    ci bigint NOT NULL,
    descripcion text
);
---
CREATE TABLE clinica.t_personal (
    id_personal bigint NOT NULL,
    especialidad character varying(100),
    id_contrato bigint NOT NULL,
    estado character varying(50),
    id_cargo bigint NOT NULL
);
---
CREATE TABLE clinica.t_personal_procedimiento (
    id_personal bigint NOT NULL,
    id_procedimiento bigint NOT NULL,
    fecha_asignacion timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);
---
CREATE TABLE clinica.t_procedimiento (
    id_procedimiento bigint NOT NULL,
    descripcion character varying(120) NOT NULL,
    precio numeric
);
---
CREATE TABLE clinica.t_proveedor (
    id_proveedor bigint NOT NULL,
    nombre_proveedor character varying(50) NOT NULL,
    telefono character varying(20),
    estado boolean DEFAULT true NOT NULL
);
---
CREATE TABLE clinica.t_rol (
    id_rol bigint NOT NULL,
    tipo_rol character varying(50) NOT NULL,
    tiempo_inactividad integer DEFAULT 15,
    jerarquia integer
);
---
CREATE TABLE clinica.t_rol_permiso (
    id_rol bigint,
    id_permiso bigint
);
---
CREATE TABLE clinica.t_sala (
    id_sala bigint NOT NULL,
    nombre character varying(50),
    tipo_sala character varying(50) NOT NULL,
    estado_sala character varying(30) NOT NULL
);
---
CREATE TABLE clinica.t_saldo (
    id_saldo bigint NOT NULL,
    id_cita bigint NOT NULL,
    saldo_inicial numeric(10,2),
    saldo_actual numeric(10,2)
);
---
CREATE TABLE clinica.t_servicio (
    id_servicio bigint NOT NULL,
    nombre character varying(50),
    precio_sugerido numeric,
    detalle text
);
---
CREATE TABLE clinica.t_sesiones (
    id_sesion bigint NOT NULL,
    id_usuario bigint NOT NULL,
    fecha_inicio timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_fin timestamp without time zone,
    duracion interval,
    ip_direccion character varying(45),
    estado character varying(20) DEFAULT 'ACTIVA'::character varying NOT NULL,
    ultima_actividad timestamp without time zone DEFAULT now()
);
---
CREATE TABLE clinica.t_token_recuperacion (
    id_token integer NOT NULL,
    id_usuario bigint NOT NULL,
    token_hash text NOT NULL,
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_expiracion timestamp without time zone NOT NULL,
    usado boolean DEFAULT false,
    ip_solicitud character varying(45)
);
---
CREATE TABLE clinica.t_usuario (
    id_usuario bigint NOT NULL,
    correo character varying(100),
    nombre_usuario character varying(100),
    "contrase±a" text,
    id_persona bigint,
    id_rol bigint,
    estado boolean DEFAULT true
);
---
CREATE TABLE clinica.t_usuario_estado (
    id_usuario bigint NOT NULL,
    intentos_fallidos integer DEFAULT 0,
    bloqueo_temporal timestamp without time zone,
    bloqueo_permanente boolean DEFAULT false
);
---
CREATE TABLE clinica.t_usuario_permiso (
    id_usuario bigint,
    id_permiso bigint,
    habilitado boolean
);
---
