ALTER TABLE clinica.t_agenda_sala ALTER COLUMN id_agenda ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME clinica.t_agenda_sala_id_agenda_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);
---
ALTER TABLE clinica.t_bitacora ALTER COLUMN id_bitacora ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME clinica.t_bitacora_id_bitacora_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);
---
ALTER TABLE clinica.t_cargo ALTER COLUMN id_cargo ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME clinica.t_cargo_id_cargo_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);
---
ALTER TABLE clinica.t_cita_servicio ALTER COLUMN id_cita_servicio ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME clinica.t_cita_servicio_id_cita_servicio_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);
---
ALTER TABLE clinica.t_citas ALTER COLUMN id_cita ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME clinica.t_citas_id_cita_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);
---
ALTER TABLE clinica.t_contrato ALTER COLUMN id_contrato ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME clinica.t_contrato_id_contrato_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);
---
ALTER TABLE clinica.t_facturas ALTER COLUMN id_factura ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME clinica.t_facturas_id_factura_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);
---
ALTER TABLE clinica.t_historial_dental ALTER COLUMN id_odontograma ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME clinica.t_historial_dental_id_odontograma_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);
---
ALTER TABLE clinica.t_materiales ALTER COLUMN id_material ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME clinica.t_materiales_id_material_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);
---
ALTER TABLE clinica.t_movimiento_inventario ALTER COLUMN id_movimiento ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME clinica.t_movimiento_inventario_id_movimiento_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);
---
ALTER TABLE clinica.t_persona ALTER COLUMN id_persona ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME clinica.t_persona_id_persona_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);
---
ALTER TABLE clinica.t_procedimiento ALTER COLUMN id_procedimiento ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME clinica.t_procedimiento_id_procedimiento_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);
---
ALTER TABLE clinica.t_proveedor ALTER COLUMN id_proveedor ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME clinica.t_proveedor_id_proveedor_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);
---
ALTER TABLE clinica.t_rol ALTER COLUMN id_rol ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME clinica.t_rol_id_rol_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);
---
ALTER TABLE clinica.t_sala ALTER COLUMN id_sala ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME clinica.t_sala_id_sala_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);
---
ALTER TABLE clinica.t_saldo ALTER COLUMN id_saldo ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME clinica.t_saldo_id_saldo_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);
---
ALTER TABLE clinica.t_sesiones ALTER COLUMN id_sesion ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME clinica.t_sesiones_id_sesion_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);
---
ALTER TABLE clinica.t_materiales_almacen ALTER COLUMN id_lote ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME clinica.t_stock_id_lote_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);
---
ALTER TABLE clinica.t_usuario ALTER COLUMN id_usuario ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME clinica.t_usuario_id_usuario_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);
---
ALTER TABLE ONLY clinica.t_cita_estado ALTER COLUMN id_estado SET DEFAULT nextval('clinica.t_cita_estado_id_estado_seq'::regclass);
---
ALTER TABLE clinica.t_cita_estado ALTER COLUMN id_estado DROP DEFAULT;
---
ALTER TABLE ONLY clinica.t_token_recuperacion ALTER COLUMN id_token SET DEFAULT nextval('clinica.t_token_recuperacion_id_token_seq'::regclass);
---
ALTER TABLE clinica.t_token_recuperacion ALTER COLUMN id_token DROP DEFAULT;
---
ALTER TABLE ONLY clinica.t_agenda_sala
    ADD CONSTRAINT t_agenda_sala_pkey PRIMARY KEY (id_agenda);
---
ALTER TABLE ONLY clinica.t_agenda_sala DROP CONSTRAINT t_agenda_sala_pkey;
---
ALTER TABLE ONLY clinica.t_bitacora
    ADD CONSTRAINT t_bitacora_pkey PRIMARY KEY (id_bitacora);
---
ALTER TABLE ONLY clinica.t_bitacora DROP CONSTRAINT t_bitacora_pkey;
---
ALTER TABLE ONLY clinica.t_cargo
    ADD CONSTRAINT t_cargo_pkey PRIMARY KEY (id_cargo);
---
ALTER TABLE ONLY clinica.t_cargo DROP CONSTRAINT t_cargo_pkey;
---
ALTER TABLE ONLY clinica.t_cita_estado
    ADD CONSTRAINT t_cita_estado_nombre_estado_key UNIQUE (nombre_estado);
---
ALTER TABLE ONLY clinica.t_cita_estado DROP CONSTRAINT t_cita_estado_nombre_estado_key;
---
ALTER TABLE ONLY clinica.t_cita_estado
    ADD CONSTRAINT t_cita_estado_pkey PRIMARY KEY (id_estado);
---
ALTER TABLE ONLY clinica.t_cita_estado DROP CONSTRAINT t_cita_estado_pkey;
---
ALTER TABLE ONLY clinica.t_cita_servicio
    ADD CONSTRAINT t_cita_servicio_pkey PRIMARY KEY (id_cita_servicio);
---
ALTER TABLE ONLY clinica.t_cita_servicio DROP CONSTRAINT t_cita_servicio_pkey;
---
ALTER TABLE ONLY clinica.t_citas
    ADD CONSTRAINT t_citas_pkey PRIMARY KEY (id_cita);
---
ALTER TABLE ONLY clinica.t_citas DROP CONSTRAINT t_citas_pkey;
---
ALTER TABLE ONLY clinica.t_contrato
    ADD CONSTRAINT t_contrato_pkey PRIMARY KEY (id_contrato);
---
ALTER TABLE ONLY clinica.t_contrato DROP CONSTRAINT t_contrato_pkey;
---
ALTER TABLE ONLY clinica.t_detalle_cita
    ADD CONSTRAINT t_detalle_cita_pkey PRIMARY KEY (id_cita, id_movimiento);
---
ALTER TABLE ONLY clinica.t_detalle_cita DROP CONSTRAINT t_detalle_cita_pkey;
---
ALTER TABLE ONLY clinica.t_facturas
    ADD CONSTRAINT t_facturas_pkey PRIMARY KEY (id_factura);
---
ALTER TABLE ONLY clinica.t_facturas DROP CONSTRAINT t_facturas_pkey;
---
ALTER TABLE ONLY clinica.t_historial_clinico
    ADD CONSTRAINT t_historial_clinico_pkey PRIMARY KEY (id_paciente);
---
ALTER TABLE ONLY clinica.t_historial_clinico DROP CONSTRAINT t_historial_clinico_pkey;
---
ALTER TABLE ONLY clinica.t_historial_dental
    ADD CONSTRAINT t_historial_dental_pkey PRIMARY KEY (id_odontograma);
---
ALTER TABLE ONLY clinica.t_historial_dental DROP CONSTRAINT t_historial_dental_pkey;
---
ALTER TABLE ONLY clinica.t_materiales
    ADD CONSTRAINT t_materiales_pkey PRIMARY KEY (id_material);
---
ALTER TABLE ONLY clinica.t_materiales DROP CONSTRAINT t_materiales_pkey;
---
ALTER TABLE ONLY clinica.t_modulo
    ADD CONSTRAINT t_modulo_pkey PRIMARY KEY (id_modulo);
---
ALTER TABLE ONLY clinica.t_modulo DROP CONSTRAINT t_modulo_pkey;
---
ALTER TABLE ONLY clinica.t_movimiento_inventario
    ADD CONSTRAINT t_movimiento_inventario_pkey PRIMARY KEY (id_movimiento);
---
ALTER TABLE ONLY clinica.t_movimiento_inventario DROP CONSTRAINT t_movimiento_inventario_pkey;
---
ALTER TABLE ONLY clinica.t_paciente
    ADD CONSTRAINT t_paciente_pkey PRIMARY KEY (id_paciente);
---
ALTER TABLE ONLY clinica.t_paciente DROP CONSTRAINT t_paciente_pkey;
---
ALTER TABLE ONLY clinica.t_permisos
    ADD CONSTRAINT t_permisos_pkey PRIMARY KEY (id_permiso);
---
ALTER TABLE ONLY clinica.t_permisos DROP CONSTRAINT t_permisos_pkey;
---
ALTER TABLE ONLY clinica.t_persona
    ADD CONSTRAINT t_persona_pkey PRIMARY KEY (id_persona);
---
ALTER TABLE ONLY clinica.t_persona DROP CONSTRAINT t_persona_pkey;
---
ALTER TABLE ONLY clinica.t_personal
    ADD CONSTRAINT t_personal_pkey PRIMARY KEY (id_personal);
---
ALTER TABLE ONLY clinica.t_personal DROP CONSTRAINT t_personal_pkey;
---
ALTER TABLE ONLY clinica.t_personal_procedimiento
    ADD CONSTRAINT t_personal_procedimiento_pkey PRIMARY KEY (id_personal, id_procedimiento);
---
ALTER TABLE ONLY clinica.t_personal_procedimiento DROP CONSTRAINT t_personal_procedimiento_pkey;
---
ALTER TABLE ONLY clinica.t_procedimiento
    ADD CONSTRAINT t_procedimiento_pkey PRIMARY KEY (id_procedimiento);
---
ALTER TABLE ONLY clinica.t_procedimiento DROP CONSTRAINT t_procedimiento_pkey;
---
ALTER TABLE ONLY clinica.t_proveedor
    ADD CONSTRAINT t_proveedor_pkey PRIMARY KEY (id_proveedor);
---
ALTER TABLE ONLY clinica.t_proveedor DROP CONSTRAINT t_proveedor_pkey;
---
ALTER TABLE ONLY clinica.t_rol
    ADD CONSTRAINT t_rol_pkey PRIMARY KEY (id_rol);
---
ALTER TABLE ONLY clinica.t_rol DROP CONSTRAINT t_rol_pkey;
---
ALTER TABLE ONLY clinica.t_sala
    ADD CONSTRAINT t_sala_pkey PRIMARY KEY (id_sala);
---
ALTER TABLE ONLY clinica.t_sala DROP CONSTRAINT t_sala_pkey;
---
ALTER TABLE ONLY clinica.t_saldo
    ADD CONSTRAINT t_saldo_pkey PRIMARY KEY (id_saldo);
---
ALTER TABLE ONLY clinica.t_saldo DROP CONSTRAINT t_saldo_pkey;
---
ALTER TABLE ONLY clinica.t_servicio
    ADD CONSTRAINT t_servicio_pkey PRIMARY KEY (id_servicio);
---
ALTER TABLE ONLY clinica.t_servicio DROP CONSTRAINT t_servicio_pkey;
---
ALTER TABLE ONLY clinica.t_sesiones
    ADD CONSTRAINT t_sesiones_pkey PRIMARY KEY (id_sesion);
---
ALTER TABLE ONLY clinica.t_sesiones DROP CONSTRAINT t_sesiones_pkey;
---
ALTER TABLE ONLY clinica.t_materiales_almacen
    ADD CONSTRAINT t_stock_pkey PRIMARY KEY (id_lote);
---
ALTER TABLE ONLY clinica.t_materiales_almacen DROP CONSTRAINT t_stock_pkey;
---
ALTER TABLE ONLY clinica.t_token_recuperacion
    ADD CONSTRAINT t_token_recuperacion_pkey PRIMARY KEY (id_token);
---
ALTER TABLE ONLY clinica.t_token_recuperacion DROP CONSTRAINT t_token_recuperacion_pkey;
---
ALTER TABLE ONLY clinica.t_usuario
    ADD CONSTRAINT t_usuario_correo_key UNIQUE (correo);
---
ALTER TABLE ONLY clinica.t_usuario DROP CONSTRAINT t_usuario_correo_key;
---
ALTER TABLE ONLY clinica.t_usuario_estado
    ADD CONSTRAINT t_usuario_estado_pkey PRIMARY KEY (id_usuario);
---
ALTER TABLE ONLY clinica.t_usuario_estado DROP CONSTRAINT t_usuario_estado_pkey;
---
ALTER TABLE ONLY clinica.t_usuario
    ADD CONSTRAINT t_usuario_pkey PRIMARY KEY (id_usuario);
---
ALTER TABLE ONLY clinica.t_usuario DROP CONSTRAINT t_usuario_pkey;
---
ALTER TABLE ONLY clinica.t_cita_servicio
    ADD CONSTRAINT fk_cita_servicio_cita FOREIGN KEY (id_cita) REFERENCES clinica.t_citas(id_cita) ON DELETE CASCADE;
---
ALTER TABLE ONLY clinica.t_cita_servicio DROP CONSTRAINT fk_cita_servicio_cita;
---
ALTER TABLE ONLY clinica.t_cita_servicio
    ADD CONSTRAINT fk_cita_servicio_servicio FOREIGN KEY (id_servicio) REFERENCES clinica.t_servicio(id_servicio) ON UPDATE CASCADE ON DELETE RESTRICT;
---
ALTER TABLE ONLY clinica.t_cita_servicio DROP CONSTRAINT fk_cita_servicio_servicio;
---
ALTER TABLE ONLY clinica.t_citas
    ADD CONSTRAINT fk_citas_procedimiento FOREIGN KEY (id_procedimiento) REFERENCES clinica.t_procedimiento(id_procedimiento) ON UPDATE CASCADE ON DELETE RESTRICT;
---
ALTER TABLE ONLY clinica.t_citas DROP CONSTRAINT fk_citas_procedimiento;
---
ALTER TABLE ONLY clinica.t_usuario_estado
    ADD CONSTRAINT fk_estado_usuario FOREIGN KEY (id_usuario) REFERENCES clinica.t_usuario(id_usuario) ON DELETE CASCADE;
---
ALTER TABLE ONLY clinica.t_usuario_estado DROP CONSTRAINT fk_estado_usuario;
---
ALTER TABLE ONLY clinica.t_personal_procedimiento
    ADD CONSTRAINT fk_personal FOREIGN KEY (id_personal) REFERENCES clinica.t_personal(id_personal) ON UPDATE CASCADE ON DELETE CASCADE;
---
ALTER TABLE ONLY clinica.t_personal_procedimiento DROP CONSTRAINT fk_personal;
---
ALTER TABLE ONLY clinica.t_personal_procedimiento
    ADD CONSTRAINT fk_procedimiento FOREIGN KEY (id_procedimiento) REFERENCES clinica.t_procedimiento(id_procedimiento) ON UPDATE CASCADE ON DELETE CASCADE;
---
ALTER TABLE ONLY clinica.t_personal_procedimiento DROP CONSTRAINT fk_procedimiento;
---
ALTER TABLE ONLY clinica.t_token_recuperacion
    ADD CONSTRAINT fk_token_usuario FOREIGN KEY (id_usuario) REFERENCES clinica.t_usuario(id_usuario) ON DELETE CASCADE;
---
ALTER TABLE ONLY clinica.t_token_recuperacion DROP CONSTRAINT fk_token_usuario;
---
ALTER TABLE ONLY clinica.t_agenda_sala
    ADD CONSTRAINT t_agenda_sala_id_cita_fkey FOREIGN KEY (id_cita) REFERENCES clinica.t_citas(id_cita);
---
ALTER TABLE ONLY clinica.t_agenda_sala DROP CONSTRAINT t_agenda_sala_id_cita_fkey;
---
ALTER TABLE ONLY clinica.t_agenda_sala
    ADD CONSTRAINT t_agenda_sala_id_sala_fkey FOREIGN KEY (id_sala) REFERENCES clinica.t_sala(id_sala);
---
ALTER TABLE ONLY clinica.t_agenda_sala DROP CONSTRAINT t_agenda_sala_id_sala_fkey;
---
ALTER TABLE ONLY clinica.t_bitacora
    ADD CONSTRAINT t_bitacora_id_sesion_fkey FOREIGN KEY (id_sesion) REFERENCES clinica.t_sesiones(id_sesion) ON DELETE SET NULL;
---
ALTER TABLE ONLY clinica.t_bitacora DROP CONSTRAINT t_bitacora_id_sesion_fkey;
---
ALTER TABLE ONLY clinica.t_citas
    ADD CONSTRAINT t_citas_id_estado_cita_fkey FOREIGN KEY (id_estado_cita) REFERENCES clinica.t_cita_estado(id_estado) ON UPDATE CASCADE ON DELETE RESTRICT;
---
ALTER TABLE ONLY clinica.t_citas DROP CONSTRAINT t_citas_id_estado_cita_fkey;
---
ALTER TABLE ONLY clinica.t_citas
    ADD CONSTRAINT t_citas_id_paciente_fkey FOREIGN KEY (id_paciente) REFERENCES clinica.t_paciente(id_paciente) ON UPDATE CASCADE ON DELETE CASCADE;
---
ALTER TABLE ONLY clinica.t_citas DROP CONSTRAINT t_citas_id_paciente_fkey;
---
ALTER TABLE ONLY clinica.t_citas
    ADD CONSTRAINT t_citas_id_personal_fkey FOREIGN KEY (id_personal) REFERENCES clinica.t_personal(id_personal) ON UPDATE CASCADE ON DELETE CASCADE;
---
ALTER TABLE ONLY clinica.t_citas DROP CONSTRAINT t_citas_id_personal_fkey;
---
ALTER TABLE ONLY clinica.t_citas
    ADD CONSTRAINT t_citas_id_sala_fkey FOREIGN KEY (id_sala) REFERENCES clinica.t_sala(id_sala) ON UPDATE CASCADE ON DELETE CASCADE;
---
ALTER TABLE ONLY clinica.t_citas DROP CONSTRAINT t_citas_id_sala_fkey;
---
ALTER TABLE ONLY clinica.t_detalle_cita
    ADD CONSTRAINT t_detalle_cita_id_cita_fkey FOREIGN KEY (id_cita) REFERENCES clinica.t_citas(id_cita) ON DELETE CASCADE;
---
ALTER TABLE ONLY clinica.t_detalle_cita DROP CONSTRAINT t_detalle_cita_id_cita_fkey;
---
ALTER TABLE ONLY clinica.t_detalle_cita
    ADD CONSTRAINT t_detalle_cita_id_movimiento_fkey FOREIGN KEY (id_movimiento) REFERENCES clinica.t_movimiento_inventario(id_movimiento);
---
ALTER TABLE ONLY clinica.t_detalle_cita DROP CONSTRAINT t_detalle_cita_id_movimiento_fkey;
---
ALTER TABLE ONLY clinica.t_facturas
    ADD CONSTRAINT t_facturas_id_cita_fkey FOREIGN KEY (id_cita) REFERENCES clinica.t_citas(id_cita);
---
ALTER TABLE ONLY clinica.t_facturas DROP CONSTRAINT t_facturas_id_cita_fkey;
---
ALTER TABLE ONLY clinica.t_historial_clinico
    ADD CONSTRAINT t_historial_clinico_id_paciente_fkey FOREIGN KEY (id_paciente) REFERENCES clinica.t_paciente(id_paciente);
---
ALTER TABLE ONLY clinica.t_historial_clinico DROP CONSTRAINT t_historial_clinico_id_paciente_fkey;
---
ALTER TABLE ONLY clinica.t_historial_dental
    ADD CONSTRAINT t_historial_dental_id_cita_fkey FOREIGN KEY (id_cita) REFERENCES clinica.t_citas(id_cita);
---
ALTER TABLE ONLY clinica.t_historial_dental DROP CONSTRAINT t_historial_dental_id_cita_fkey;
---
ALTER TABLE ONLY clinica.t_historial_dental
    ADD CONSTRAINT t_historial_dental_id_paciente_fkey FOREIGN KEY (id_paciente) REFERENCES clinica.t_paciente(id_paciente);
---
ALTER TABLE ONLY clinica.t_historial_dental DROP CONSTRAINT t_historial_dental_id_paciente_fkey;
---
ALTER TABLE ONLY clinica.t_materiales_almacen
    ADD CONSTRAINT t_materiales_almacen_id_proveedor_fkey FOREIGN KEY (id_proveedor) REFERENCES clinica.t_proveedor(id_proveedor);
---
ALTER TABLE ONLY clinica.t_materiales_almacen DROP CONSTRAINT t_materiales_almacen_id_proveedor_fkey;
---
ALTER TABLE ONLY clinica.t_movimiento_inventario
    ADD CONSTRAINT t_movimiento_inventario_id_lote_fkey FOREIGN KEY (id_lote) REFERENCES clinica.t_materiales_almacen(id_lote);
---
ALTER TABLE ONLY clinica.t_movimiento_inventario DROP CONSTRAINT t_movimiento_inventario_id_lote_fkey;
---
ALTER TABLE ONLY clinica.t_movimiento_inventario
    ADD CONSTRAINT t_movimiento_inventario_id_material_fkey FOREIGN KEY (id_material) REFERENCES clinica.t_materiales(id_material);
---
ALTER TABLE ONLY clinica.t_movimiento_inventario DROP CONSTRAINT t_movimiento_inventario_id_material_fkey;
---
ALTER TABLE ONLY clinica.t_paciente
    ADD CONSTRAINT t_paciente_id_paciente_fkey FOREIGN KEY (id_paciente) REFERENCES clinica.t_persona(id_persona) ON UPDATE CASCADE ON DELETE CASCADE;
---
ALTER TABLE ONLY clinica.t_paciente DROP CONSTRAINT t_paciente_id_paciente_fkey;
---
ALTER TABLE ONLY clinica.t_paciente
    ADD CONSTRAINT t_paciente_persona_acargo_fkey FOREIGN KEY (persona_acargo) REFERENCES clinica.t_paciente(id_paciente) ON UPDATE CASCADE ON DELETE CASCADE;
---
ALTER TABLE ONLY clinica.t_paciente DROP CONSTRAINT t_paciente_persona_acargo_fkey;
---
ALTER TABLE ONLY clinica.t_permisos
    ADD CONSTRAINT t_permisos_id_modulo_fkey FOREIGN KEY (id_modulo) REFERENCES clinica.t_modulo(id_modulo);
---
ALTER TABLE ONLY clinica.t_permisos DROP CONSTRAINT t_permisos_id_modulo_fkey;
---
ALTER TABLE ONLY clinica.t_personal
    ADD CONSTRAINT t_personal_id_cargo_fkey FOREIGN KEY (id_cargo) REFERENCES clinica.t_cargo(id_cargo) ON UPDATE CASCADE ON DELETE RESTRICT;
---
ALTER TABLE ONLY clinica.t_personal DROP CONSTRAINT t_personal_id_cargo_fkey;
---
ALTER TABLE ONLY clinica.t_personal
    ADD CONSTRAINT t_personal_id_contrato_fkey FOREIGN KEY (id_contrato) REFERENCES clinica.t_contrato(id_contrato) ON UPDATE CASCADE ON DELETE CASCADE;
---
ALTER TABLE ONLY clinica.t_personal DROP CONSTRAINT t_personal_id_contrato_fkey;
---
ALTER TABLE ONLY clinica.t_personal
    ADD CONSTRAINT t_personal_id_personal_fkey FOREIGN KEY (id_personal) REFERENCES clinica.t_persona(id_persona) ON UPDATE CASCADE ON DELETE CASCADE;
---
ALTER TABLE ONLY clinica.t_personal DROP CONSTRAINT t_personal_id_personal_fkey;
---
ALTER TABLE ONLY clinica.t_saldo
    ADD CONSTRAINT t_saldo_id_cita_fkey FOREIGN KEY (id_cita) REFERENCES clinica.t_citas(id_cita) ON DELETE CASCADE;
---
ALTER TABLE ONLY clinica.t_saldo DROP CONSTRAINT t_saldo_id_cita_fkey;
---
ALTER TABLE ONLY clinica.t_sesiones
    ADD CONSTRAINT t_sesiones_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES clinica.t_usuario(id_usuario);
---
ALTER TABLE ONLY clinica.t_sesiones DROP CONSTRAINT t_sesiones_id_usuario_fkey;
---
ALTER TABLE ONLY clinica.t_materiales_almacen
    ADD CONSTRAINT t_stock_id_material_fkey FOREIGN KEY (id_material) REFERENCES clinica.t_materiales(id_material);
---
ALTER TABLE ONLY clinica.t_materiales_almacen DROP CONSTRAINT t_stock_id_material_fkey;
---
ALTER TABLE ONLY clinica.t_usuario
    ADD CONSTRAINT t_usuario_id_persona_fkey FOREIGN KEY (id_persona) REFERENCES clinica.t_persona(id_persona);
---
ALTER TABLE ONLY clinica.t_usuario DROP CONSTRAINT t_usuario_id_persona_fkey;
---
ALTER TABLE ONLY clinica.t_usuario
    ADD CONSTRAINT t_usuario_id_rol_fkey FOREIGN KEY (id_rol) REFERENCES clinica.t_rol(id_rol);
---
ALTER TABLE ONLY clinica.t_usuario DROP CONSTRAINT t_usuario_id_rol_fkey;
---
